In [1]:
from datetime import datetime,date,time,timedelta
import pandas as pd
import numpy as np

In [2]:
now = datetime.now() # 获取当前datetime
now.isoweekday()     # 星期几
print(now.year)
print(now.month)
print(now.day)
print(now.hour)

2018
12
12
15

In [3]:
# datetime转换为timestamp
now.timestamp()

1544600019.562709

In [4]:
# timestamp转换为datetime
t = 1544528340.516254
datetime.fromtimestamp(t)

datetime.datetime(2018, 12, 11, 19, 39, 0, 516254)

In [5]:
# datetime转为str
t = now.strftime('%Y-%m-%d %H:%M:%S')
type(t)

str

In [6]:
# 字符串转datetime
str = '20181215235659'
datetime.strptime(str,'%Y%m%d%H%M%S')

datetime.datetime(2018, 12, 15, 23, 56, 59)

In [7]:
# 时间加减
now = datetime.now()
now + timedelta(hours=10)

datetime.datetime(2018, 12, 13, 1, 33, 39, 626780)

In [8]:
df = pd.DataFrame({'age':[1,2,3],'datetime':['2018-12-12 05:50:52','2018-12-12 06:50:52','2018-12-12 07:50:52']})

In [9]:
df

   age             datetime
0    1  2018-12-12 05:50:52
1    2  2018-12-12 06:50:52
2    3  2018-12-12 07:50:52

In [10]:
# df['datetime'] = df['datetime'].astype('datetime64') #datetime.datetime
df['datetime'] = df['datetime'].astype(datetime) #datetime.
# type(df.datetime)
df.datetime[0]

'2018-12-12 05:50:52'

In [13]:
pd.Series(map(lambda x:datetime.strptime(x, '%Y-%m-%d %H:%M:%S'), df.datetime))

0   2018-12-12 05:50:52
1   2018-12-12 06:50:52
2   2018-12-12 07:50:52
dtype: datetime64[ns]

In [12]:
np.datetime64    # 属性
pd.to_datetime   # 函数

<function pandas.core.tools.datetimes.to_datetime(arg, errors='raise', dayfirst=False, yearfirst=False, utc=None, box=True, format=None, exact=True, unit=None, infer_datetime_format=False, origin='unix', cache=False)>