In [1]:
import pandas as pd

In [11]:
data = pd.DataFrame({
	'国家':['中国','英国','美国','美国','中国'],
	'gender':['f','m','f','m','m'],
	'GDP':[50,56,89,56,89]
	})
print(data)

   国家 gender  GDP
0  中国      f   50
1  英国      m   56
2  美国      f   89
3  美国      m   56
4  中国      m   89

In [12]:
data.set_index(['国家','gender'],inplace=True)

In [13]:
data

           GDP
国家 gender
中国 f        50
英国 m        56
美国 f        89
   m        56
中国 m        89

In [15]:
data.unstack().reset_index()

        国家   GDP
gender         f     m
0       中国  50.0  89.0
1       美国  89.0  56.0
2       英国   NaN  56.0